img.atcpw_rating_div {
    width: 100px;
    vertical-align: middle;
}
.atcpw-container ul.atcpw-tabs {
    display: inline-block;
    width: 100%;
}
.atcpw-container ul.atcpw-tabs li.tab-link {
    display: inline-block;
    width: 150px;
    margin: 0px;
    text-align: center;
    background-color: #2271b1;
    padding: 10px;
    color: #fff;
    border: 1px solid #2271b1;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
}
.atcpw-container ul.atcpw-tabs li.tab-link.atcpw-current {
    background-color: #fff;
    color: #2271b1;
}
div.tab-content {
    display: none;
}
div.tab-content.atcpw-current {
    display: block;
}
.cover_div h2 {
    margin: 0px 0px;
    padding: 10px 10px;
    background-color: #2271b1;
    color: #fff;
    text-transform: uppercase;
}
.cover_div {
    display: inline-block;
    width: 100%;
}
td.ocwqv_icon_choice label svg, td.ocwqv_icon_choice_close label svg {
    width: 30px;
    height: auto;
}
table.data_table {
    display: inline-block;
    width: 100%;
    float: left;
    border: 1px solid #2271b1;
    padding: 15px;
    text-align: left;
}
table.data_table tbody {
    display: inline-block;
    width: 100%;
}
table.data_table tbody tr {
    display: inline-block;
    width: 100%;
    line-height: 3;
    vertical-align: top;
}
table.data_table tbody tr th {
    display: inline-block;
    width: 20%;
}
table.data_table tbody tr td {
    display: inline-block;
    width: 75%;
}
input#atcpw-btn-space {
    display: inline-block;
    margin: 10px 0px;
}
.atcpw_rateus_notice, .atcpw_support_notice {
    display: inline-block;
    width: 45%;
    float: left;
    color: #fff;
    background-color: #fb5f51;
    padding: 15px;
    border-radius: 5px;
    margin-top: 15px;
    height: 70px;
    margin-bottom: 12px;
}
.atcpw_rtusnoti_left {
    display: inline-block;
    float: left;
    width: 70%;
}
.atcpw_rateus_notice h3, .atcpw_support_notice h3 {
    color: #fff;
    margin: 0;
    margin-bottom: 12px;
    font-size: 20px;
}
.atcpw_rateus_notice label, .atcpw_support_notice label {
    font-size: 16px;
}
.atcpw_rateus_notice a, .atcpw_support_notice a {
    color: #fff;
}
.atcpw_rtusnoti_right {
    display: inline-block;
    float: right;
    text-align: right;
}
.atcpw_rtusnoti_right img {
    width: 50px;
    height: auto;
}
.atcpw_support_notice {
    background-color: #2f3337;
    margin-left: 2%;
}
.atcpw_donate_main {
    background: #fff;
    padding: 15px;
    display: flex;
    width: 94.6%;
    border: 1px solid #e3bbac;
    align-items: center;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    margin-top: 15px;
}
.atcpw_donate_main > * {
    margin: 0 15px 0 0;
    vertical-align: middle;
}
.atcpw_donate_main img {
    height: 32px;
}
.atcpw_donate_form {
    display: flex;
}
.atcpw_donate_form .button {
    text-align: center;
}
.shop_icon, .close_icons, .ocpc_trashs, .atcpw_qatcpw_icons {
    background-color: #000000;
    width: 30px;
    height: 30px;
    display: inline-block;
}